ul.App-searchresults {
    margin: 0;
    padding: 0;
}

ul.App-searchresults li {
    list-style-type: none;
    margin: 0;
    padding: 4px 0;
    height: 100px;
    border-bottom: 1px solid #bbb;

    position: relative;
}

ul.App-searchresults li img {
    float: left;
    margin-left: 4px;
    margin-right: 4px;
    width: 100px;
    height: 100px;
}

.App-searchresults-description {
    margin-right: 4px;
}

.App-searchresults-price {
    position: absolute;
    bottom: 4px;
    right: 4px;
    color: #6a4;
    font-weight: bold;
    font-size: 1.2rem;
}